ul{
    background-color:white;
    color:black;
    width: 60%;
    padding: 20px;
    width: 35%;
    margin-left: 20px;
    
}
ul li {
    list-style: none;
    display:initial;
    padding: 10px 20px 10px 10px 0px;
    margin-left: 20px;
    float:left;
}
ul li:first-child{
    
margin-left: 35px;
padding: 10px 50px;
width: 300px;
height: 70px;
}
.img-960{
    margin-left: 75px;
    margin-bottom: 25px;
}
div{
    margin-left: 52px;
    color: #999
}
div img{
    margin-left: 25px;
    margin-bottom: 25px;
    color: #999
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img2 {
    margin-left: -24px;
    margin-right: 25px;
    float: left;
    color: #999
}
.lorem{
    
    width: 450px;
    
    overflow-y: scroll;
    
}
button{
    margin-top: 20px;
    text-decoration: none;
    background-color: #111;
    color:grey;
    padding: 10px 20px;
    border-radius: 15px;
    
}
button:hover{
    background-color: #999;
    color: white;
    transition: color 350ms;
}
button{
    margin-bottom: 25px;
}
.footer{
    margin-left: 20px;
    height: 100px;
    width: 75%;
    background-color:grey;
}